* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #95b6f3;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
}

#caixa {
    padding: 15px;
    border: 1px solid #0600af;
    border-radius: 6px;
    margin-top: 10px;
}

.destaque {
    background-color: #3300ff;
    font-weight: bold;
}